In [1]:
import pandas as pd
import random
import numpy as np
import pdb

In [2]:
data = {'team' : ['russia', 'saudiarabia', 'egypt', 'uruguay'],
        'against': ['saudiarabia', 'russia', 'uruguay', 'egypt'],
        'fifa_rank': [65, 63, 31, 21]}

columns = ['team', 'against', 'fifa_rank']

df = pd.DataFrame(data, columns = columns)
df

          team      against  fifa_rank
0       russia  saudiarabia         65
1  saudiarabia       russia         63
2        egypt      uruguay         31
3      uruguay        egypt         21

In [3]:
def total_record(team):
    win_count = len(team) * random.randint(1, 10)
    draw_count = len(team) * random.randint(1, 10)
    lose_count = len(team) * random.randint(1, 10)
    winning_rate = win_count / (win_count+draw_count+lose_count)
    return win_count, draw_count, lose_count, float('%.2f' % winning_rate)

In [4]:
total_record('russia')

(54, 36, 48, 0.39)

In [5]:
# map
pdb.set_trace()
df['winning_rate']  = df['team'].map(lambda x : total_record(x)[3])

--Return--
> <ipython-input-5-ba0a10d76560>(2)<module>()->None
-> pdb.set_trace()
(Pdb) b 2
Breakpoint 1 at <ipython-input-5-ba0a10d76560>:2
(Pdb) c

In [6]:
# apply
def relative_record(team, against):
    win_count = len(team) * random.randint(1, 10)
    draw_count = len(team) * random.randint(1, 10)
    lose_count = len(team) * random.randint(1, 10)
    winning_rate = win_count / (win_count+draw_count+lose_count)
    return win_count, draw_count, lose_count, float('%.2f' % winning_rate)

In [7]:
pdb.set_trace()
df['winning_rate'] = df.apply(lambda x:relative_record(x['team'], x['against'])[3], axis=1)

--Return--
> <ipython-input-7-9ebd942b273b>(1)<module>()->None
-> pdb.set_trace()
(Pdb) b 2
Breakpoint 2 at <ipython-input-7-9ebd942b273b>:2
(Pdb) c
> <ipython-input-7-9ebd942b273b>(2)<module>()->None
-> df['winning_rate'] = df.apply(lambda x:relative_record(x['team'], x['against'])[3], axis=1)
(Pdb) n
> <ipython-input-7-9ebd942b273b>(2)<lambda>()
-> df['winning_rate'] = df.apply(lambda x:relative_record(x['team'], x['against'])[3], axis=1)
(Pdb) x
team                 russia
against         saudiarabia
fifa_rank                65
winning_rate           0.07
Name: 0, dtype: object
(Pdb) c
> <ipython-input-7-9ebd942b273b>(2)<lambda>()
-> df['winning_rate'] = df.apply(lambda x:relative_record(x['team'], x['against'])[3], axis=1)
(Pdb) x
team            saudiarabia
against              russia
fifa_rank                63
winning_rate           0.36
Name: 1, dtype: object
(Pdb) c
> <ipython-input-7-9ebd942b273b>(2)<lambda>()
-> df['winning_rate'] = df.apply(lambda x:relative_record(x['team'], x['against'])[3], axis=1)
(Pdb) x
team              egypt
against         uruguay
fifa_rank            31
winning_rate       0.38
Name: 2, dtype: object
(Pdb) c
> <ipython-input-7-9ebd942b273b>(2)<lambda>()
-> df['winning_rate'] = df.apply(lambda x:relative_record(x['team'], x['against'])[3], axis=1)
(Pdb) x
team            uruguay
against           egypt
fifa_rank            21
winning_rate       0.37
Name: 3, dtype: object
(Pdb) c

In [8]:
df

          team      against  fifa_rank  winning_rate
0       russia  saudiarabia         65          0.42
1  saudiarabia       russia         63          0.56
2        egypt      uruguay         31          0.39
3      uruguay        egypt         21          0.39