In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web

In [2]:
all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [5]:
price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
price.head()

                 AAPL        GOOG         IBM       MSFT
Date
2009-12-31  20.159719  307.986847  100.460022  24.345514
2010-01-04  20.473503  311.349976  101.649574  24.720928
2010-01-05  20.508902  309.978882  100.421654  24.728914
2010-01-06  20.182680  302.164703   99.769310  24.577150
2010-01-07  20.145369  295.130463   99.423950  24.321552

In [6]:
volume = pd.DataFrame({ticker: data['Volume']
                     for ticker, data in all_data.items()})
volume.head()

                   AAPL        GOOG        IBM        MSFT
Date
2009-12-31   88102700.0   2455400.0  4223400.0  31929700.0
2010-01-04  123432400.0   3937800.0  6155300.0  38409100.0
2010-01-05  150476200.0   6048500.0  6841400.0  49749600.0
2010-01-06  138040000.0   8009000.0  5605300.0  58182400.0
2010-01-07  119282800.0  12912000.0  5840600.0  50559700.0

In [7]:
returns = price.pct_change()

In [8]:
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2018-11-30 -0.005402  0.005633  0.022967  0.006353
2018-12-03  0.034942  0.010965  0.008369  0.010822
2018-12-04 -0.043989 -0.050261 -0.029607 -0.031849
2018-12-06 -0.011149  0.017044  0.018997  0.006174
2018-12-07 -0.035657 -0.030082 -0.036882 -0.040022

In [11]:
returns['MSFT'].corr(returns['IBM'])

0.4797778249289608

In [12]:
returns['MSFT'].cov(returns['IBM'])

8.423397456394545e-05

In [13]:
returns.MSFT.corr(returns.IBM)

0.4797778249289608

In [14]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.444592  0.365664  0.432750
GOOG  0.444592  1.000000  0.402821  0.527723
IBM   0.365664  0.402821  1.000000  0.479778
MSFT  0.432750  0.527723  0.479778  1.000000

In [15]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000263  0.000111  0.000072  0.000101
GOOG  0.000111  0.000236  0.000076  0.000117
IBM   0.000072  0.000076  0.000149  0.000084
MSFT  0.000101  0.000117  0.000084  0.000207

In [16]:
returns.corrwith(returns.IBM)

AAPL    0.365664
GOOG    0.402821
IBM     1.000000
MSFT    0.479778
dtype: float64

In [17]:
returns.corrwith(volume)

AAPL   -0.059397
GOOG   -0.016019
IBM    -0.176727
MSFT   -0.087354
dtype: float64