In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.read_csv('../examples/ex1.csv')

In [3]:
frame.to_pickle('../examples/frame_pickle')

In [4]:
pd.read_pickle('../examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### Using HDF5 Format

In [5]:
frame = pd.DataFrame({'a': np.random.randn(100)})
frame.head()

          a
0 -0.859948
1  0.890891
2  0.887152
3 -0.033922
4 -0.142410

In [6]:
store = pd.HDFStore('mydata.h5')

In [7]:
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [8]:
store.put('obj2', frame, format='table')

In [9]:
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.351239
11 -0.533397
12  0.055854
13 -0.310114
14 -0.272663
15  1.269610

In [10]:
store.close()

In [11]:
frame.to_hdf('mydata.h5', 'obj3', format='table')

In [12]:
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -0.859948
1  0.890891
2  0.887152
3 -0.033922
4 -0.142410

### Reading Microsoft Excel Files

In [13]:
xlsx = pd.ExcelFile('../examples/ex1.xlsx')
xlsx

In [14]:
pd.read_excel(xlsx, 'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
frame = pd.read_excel('../examples/ex1.xlsx', 'Sheet1')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
writer = pd.ExcelWriter('../examples/ex2.xlsx')

In [17]:
frame.to_excel(writer, 'Sheet1')

In [18]:
writer.save()

In [19]:
frame.to_excel('../examples/ex2.xlsx')