In [1]:
import pandas as pd
import numpy as np

In [7]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'c', 'd'])
obj

a    0
a    1
b    2
c    3
d    4
dtype: int64

In [8]:
obj.index.is_unique

False

In [11]:
type(obj['a'])

pandas.core.series.Series

In [12]:
type(obj['c'])

numpy.int64

In [14]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a  0.377746 -1.500849  0.095292
a  0.729371  0.325512  0.307037
b -1.223358 -0.444957 -0.077904
b -0.161974 -0.554055  0.331849

In [15]:
df.loc['b']

          0         1         2
b -1.223358 -0.444957 -0.077904
b -0.161974 -0.554055  0.331849