In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah    1.246401 -1.072379 -0.065883
Ohio    0.631280  0.471805  1.447576
Texas  -0.342676  0.404504  1.198508
Oregon  1.431002  0.222456  0.895613

In [3]:
np.abs(frame)

               b         d         e
Utah    1.246401  1.072379  0.065883
Ohio    0.631280  0.471805  1.447576
Texas   0.342676  0.404504  1.198508
Oregon  1.431002  0.222456  0.895613

In [4]:
f = lambda x: x.max() - x.min()

In [5]:
frame.apply(f)

b    1.773678
d    1.544184
e    1.513459
dtype: float64

In [6]:
frame.apply(f, axis='columns')

Utah      2.318780
Ohio      0.975771
Texas     1.541183
Oregon    1.208546
dtype: float64

In [7]:
format = lambda x: '%.2f' % x

In [8]:
frame.applymap(format)

            b      d      e
Utah     1.25  -1.07  -0.07
Ohio     0.63   0.47   1.45
Texas   -0.34   0.40   1.20
Oregon   1.43   0.22   0.90

In [9]:
frame['e'].map(format)

Utah      -0.07
Ohio       1.45
Texas      1.20
Oregon     0.90
Name: e, dtype: object